Repository borchero/terraform-plan-comment: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

.pre-commit-config.yaml:

exclude: ^dist/
repos:
  - repo: local
    hooks:
      - id: test:fixtures
        name: test:fixtures
        entry: pnpm test:fixtures
        language: system
        pass_filenames: false
        always_run: true
      - id: lint
        name: lint
        entry: pnpm lint:fix
        language: system
        pass_filenames: false
        types: [file, ts]
      - id: build
        name: build
        entry: pnpm build
        language: system
        pass_filenames: false
        always_run: true
      - id: prettier
        name: prettier
        entry: pnpm prettier
        language: system
        pass_filenames: false
        types_or: [markdown, yaml]
  - repo: https://github.com/crate-ci/typos
    rev: v1.19.0
    hooks:
      - id: typos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: ^tests/.*/rendered.md$
      - id: mixed-line-ending
      - id: trailing-whitespace

ci: Fix conditionals in chore workflow
  .github/workflows/chore.yml
Due: prettier

ci: Add stalebot to automatically close issues and PRs (#40)
  .github/workflows/stale.yml
Due: prettier

ci: Fix conditionals in chore workflow (#41)
  .github/workflows/chore.yml
Due: prettier

ci: Fix stalebot messages
  .github/workflows/stale.yml
Due: prettier

ci: Fix stalebot messages (#42)
  .github/workflows/stale.yml
Due: prettier

fix: Support removed block
  .gitignore
  dist/index.js
  src/planfile.ts
  tests/e2e.test.ts
  tests/fixtures/basic/0-create/main.tf
  tests/fixtures/basic/0-create/plan.json
  tests/fixtures/basic/0-create/plan.txt
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/main.tf
  tests/fixtures/basic/1-modify/plan.json
  tests/fixtures/basic/2-delete/plan.json
  tests/fixtures/basic/3-remove/main.tf
  tests/fixtures/basic/3-remove/plan.json
  tests/fixtures/basic/3-remove/plan.txt
  tests/fixtures/basic/3-remove/rendered.md
  tests/fixtures/basic/4-empty/main.tf
  tests/fixtures/basic/4-empty/plan.json
  tests/fixtures/basic/4-empty/plan.txt
  tests/fixtures/basic/4-empty/rendered.md
  tests/fixtures/generate.sh
Due: lint, prettier

Fix pch
  dist/index.js
Due: none

feat: Support removed block (#38)
  .gitignore
  dist/index.js
  src/planfile.ts
  tests/e2e.test.ts
  tests/fixtures/basic/0-create/main.tf
  tests/fixtures/basic/0-create/plan.json
  tests/fixtures/basic/0-create/plan.txt
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/main.tf
  tests/fixtures/basic/1-modify/plan.json
  tests/fixtures/basic/2-delete/plan.json
  tests/fixtures/basic/3-remove/main.tf
  tests/fixtures/basic/3-remove/plan.json
  tests/fixtures/basic/3-remove/plan.txt
  tests/fixtures/basic/3-remove/rendered.md
  tests/fixtures/basic/4-empty/main.tf
  tests/fixtures/basic/4-empty/plan.json
  tests/fixtures/basic/4-empty/plan.txt
  tests/fixtures/basic/4-empty/rendered.md
  tests/fixtures/generate.sh
Due: lint, prettier

Adding 'empty' as an output to indicate if the calculated plan has any changes or not
  README.md
  action.yml
  src/index.ts
Due: lint, prettier

Typo fix
  src/comment.ts
Due: lint

Making it italic
  src/comment.ts
Due: lint

index.js update
  dist/index.js
Due: none

fix: Typo (#48)
  dist/index.js
  src/comment.ts
Due: lint

Fix
  dist/index.js
Due: none

fix: Correctly render comments for `pull_request_target` events
  dist/index.js
  src/index.ts
Due: lint

fix: Correctly render comments for `pull_request_target` events
  dist/index.js
  src/comment.ts
Due: lint

fix: Correctly render comments for `pull_request_target` events (#49)
  dist/index.js
  src/comment.ts
  src/index.ts
Due: lint

feat: Add `empty` as an output to indicate if the calculated plan has any changes or not (#47)
  README.md
  action.yml
  dist/index.js
  src/index.ts
Due: lint, prettier

fix: Paginate list comments
  dist/index.js
  src/comment.ts
Due: lint

fix: Paginate list comments (#53)
  dist/index.js
  src/comment.ts
Due: lint

Update
  dist/index.js
Due: none

Update
  dist/index.js
  pixi.lock
Due: none

feat: Add support to terragrunt command with --all option (#57)
  .gitignore
  README.md
  dist/index.js
  pixi.toml
  src/comment.ts
  src/index.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/5-terragrunt/modules/database/main.tf
  tests/fixtures/basic/5-terragrunt/plan.json
  tests/fixtures/basic/5-terragrunt/plan.txt
  tests/fixtures/basic/5-terragrunt/prod/database/terragrunt.hcl
  tests/fixtures/basic/5-terragrunt/rendered.md
  tests/fixtures/basic/5-terragrunt/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/modules/cache/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/database/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/server/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/plan.json
  tests/fixtures/basic/6-terragrunt-multiplan/plan.txt
  tests/fixtures/basic/6-terragrunt-multiplan/prod/cache/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/prod/database/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/prod/server/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/terragrunt.hcl
  tests/fixtures/generate.sh
  tests/render.test.ts
Due: lint, prettier

feat: Add variable to expand comment details automatically
  README.md
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
Due: lint, prettier

feat: Track and display import changes
  dist/index.js
  src/planfile.ts
  src/render.ts
Due: lint

fix
  dist/index.js
  src/planfile.ts
Due: lint

feat: Add support to terragrunt command with --all option (#57)
  .gitignore
  README.md
  dist/index.js
  pixi.toml
  src/comment.ts
  src/index.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/5-terragrunt/main.tf
  tests/fixtures/basic/5-terragrunt/modules/database/main.tf
  tests/fixtures/basic/5-terragrunt/plan.json
  tests/fixtures/basic/5-terragrunt/plan.txt
  tests/fixtures/basic/5-terragrunt/prod/database/terragrunt.hcl
  tests/fixtures/basic/5-terragrunt/rendered.md
  tests/fixtures/basic/5-terragrunt/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/cache/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/database/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/server/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/plan.json
  tests/fixtures/basic/6-terragrunt-multiplan/plan.txt
  tests/fixtures/basic/6-terragrunt-multiplan/prod/cache/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/prod/database/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/prod/server/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/terragrunt.hcl
  tests/fixtures/generate.sh
  tests/render.test.ts
Due: lint, prettier

fix: ignore strings before json
  dist/index.js
  src/render.ts
Due: lint

Update .gitignore
  .gitignore
Due: none

chore: Update `pixi.toml` for latest pixi
  pixi.toml
Due: none

chore: Update `pixi.toml` for latest pixi (#80)
  pixi.toml
Due: none

chore: Add contributing guide and copilot instructions
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Due: prettier

chore: Add contributing guide and copilot instructions (#82)
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Due: prettier

chore: Update dependencies and pre-commit config
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
  tests/fixtures/basic/0-create/plan.json
  tests/fixtures/basic/1-modify/plan.json
  tests/fixtures/basic/2-delete/plan.json
  tests/fixtures/basic/3-remove/plan.json
  tests/fixtures/basic/4-empty/plan.json
Due: prettier

Fix
  .pre-commit-config.yaml
  .prettierignore
  pixi.lock
  tests/fixtures/basic/0-create/plan.json
Due: prettier

Fix stuff
  .gitignore
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier

chore: Update dependencies and pre-commit config (#83)
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  eslint.config.mjs
  package.json
  pixi.lock
  pixi.toml
  pnpm-lock.yaml
  tests/fixtures/basic/0-create/plan.json
  tests/fixtures/basic/1-modify/plan.json
  tests/fixtures/basic/2-delete/plan.json
  tests/fixtures/basic/3-remove/plan.json
  tests/fixtures/basic/4-empty/plan.json
Due: prettier
