Repository borchero/terraform-plan-comment: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier, end-of-file-fixer

.pre-commit-config.yaml:

exclude: ^dist/
repos:
  - repo: local
    hooks:
      - id: test:fixtures
        name: test:fixtures
        entry: pixi run -e pre-commit pnpm test:fixtures
        language: system
        pass_filenames: false
        always_run: true
      - id: lint
        name: lint
        entry: pixi run -e pre-commit pnpm lint:fix
        language: system
        pass_filenames: false
        types: [file, ts]
      - id: build
        name: build
        entry: pixi run -e pre-commit pnpm build
        language: system
        pass_filenames: false
        always_run: true
      - id: prettier
        name: prettier
        entry: pixi run -e pre-commit pnpm prettier
        language: system
        pass_filenames: false
        types_or: [markdown, yaml]
      - id: typos
        name: typos
        entry: pixi run -e pre-commit typos --force-exclude
        language: system
        types: [text]
        require_serial: true
      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: pixi run -e pre-commit trailing-whitespace-fixer
        language: system
        types: [text]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: pixi run -e pre-commit end-of-file-fixer
        language: system
        types: [text]
        exclude: ^tests/.*/rendered.md$
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: pixi run -e pre-commit check-merge-conflict --assume-in-merge
        language: system
        types: [text]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: pixi run -e pre-commit mixed-line-ending
        language: system
        types: [text]

Looks good
  dist/index.js
  tests/fixtures/basic/5-ephemeral/plan.json
  tests/fixtures/basic/5-ephemeral/plan.txt
  tests/fixtures/ephemeral/0-create/main.tf
  tests/fixtures/ephemeral/0-create/plan.json
  tests/fixtures/ephemeral/0-create/plan.txt
  tests/fixtures/ephemeral/0-create/rendered.md
  tests/fixtures/generate.sh
Due: prettier, end-of-file-fixer

Update
  tests/e2e.test.ts
  tests/fixtures/ephemeral/0-create/rendered.md
  tests/planfile.test.ts
Due: lint, prettier, end-of-file-fixer

Eph
  tests/fixtures/basic/0-create/main.tf
  tests/fixtures/basic/1-modify/main.tf
  tests/fixtures/basic/2-delete/main.tf
  tests/fixtures/basic/3-remove/main.tf
  tests/fixtures/basic/4-empty/main.tf
  tests/fixtures/ephemeral/0-create/main.tf
  tests/fixtures/ephemeral/0-create/plan.json
  tests/fixtures/ephemeral/0-create/plan.txt
  tests/fixtures/ephemeral/0-create/rendered.md
  tests/fixtures/generate.sh
Due: prettier, end-of-file-fixer

Update
  tests/fixtures/ephemeral/0-create/rendered.md
Due: prettier

feat: Add support for ephemeral resources with "open" action (#77)
  dist/index.js
  src/comment.ts
  src/planfile.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/0-create/main.tf
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/main.tf
  tests/fixtures/basic/1-modify/rendered.md
  tests/fixtures/basic/2-delete/main.tf
  tests/fixtures/basic/2-delete/rendered.md
  tests/fixtures/basic/3-remove/main.tf
  tests/fixtures/basic/4-empty/main.tf
  tests/fixtures/ephemeral/0-create/main.tf
  tests/fixtures/ephemeral/0-create/plan.json
  tests/fixtures/ephemeral/0-create/plan.txt
  tests/fixtures/ephemeral/0-create/rendered.md
  tests/fixtures/generate.sh
  tests/planfile.test.ts
Due: lint, prettier, end-of-file-fixer

Fix
  dist/index.js
Due: none

Update
  dist/index.js
Due: none

feat: Delete outdated PR comments when skip-empty is enabled and plan becomes empty (#79)
  README.md
  dist/index.js
  src/comment.ts
  src/index.ts
Due: lint, prettier, end-of-file-fixer

Fix
  src/index.ts
  tests/fixtures/basic/0-create/plan.json
Due: lint, end-of-file-fixer

Update
  tests/fixtures/basic/0-create/plan.json
Due: end-of-file-fixer

feat: Add pr-number input for workflow_dispatch support (#78)
  README.md
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
Due: lint, prettier, end-of-file-fixer

feat: Add variable to expand comment details automatically (#62)
  README.md
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
  tests/e2e.test.ts
Due: lint, prettier, end-of-file-fixer

Build
  dist/index.js
Due: none

fix: Ignore strings before json (#73)
  dist/index.js
  src/render.ts
Due: lint, end-of-file-fixer

feat: Add support to terragrunt command with --all option (#57)
  .gitignore
  README.md
  dist/index.js
  pixi.lock
  pixi.toml
  src/comment.ts
  src/index.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/5-terragrunt/main.tf
  tests/fixtures/basic/5-terragrunt/modules/database/main.tf
  tests/fixtures/basic/5-terragrunt/plan.json
  tests/fixtures/basic/5-terragrunt/plan.txt
  tests/fixtures/basic/5-terragrunt/rendered.md
  tests/fixtures/basic/5-terragrunt/root.hcl
  tests/fixtures/basic/5-terragrunt/single/database/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/cache/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/database/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/server/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/multiple/cache/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/multiple/database/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/multiple/server/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/plan.json
  tests/fixtures/basic/6-terragrunt-multiplan/plan.txt
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/root.hcl
  tests/fixtures/generate.sh
  tests/render.test.ts
Due: lint, prettier, end-of-file-fixer

fix: data lines starting with characters used by diffs were malformed
  dist/index.js
  src/render.ts
  tests/fixtures/basic/0-create/main.tf
  tests/fixtures/basic/0-create/plan.json
  tests/fixtures/basic/0-create/plan.txt
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/main.tf
  tests/fixtures/basic/1-modify/plan.json
  tests/fixtures/basic/1-modify/plan.txt
  tests/fixtures/basic/1-modify/rendered.md
  tests/fixtures/basic/2-delete/plan.json
  tests/fixtures/basic/2-delete/plan.txt
  tests/fixtures/basic/2-delete/rendered.md
Due: lint, prettier, end-of-file-fixer

Pass prNumber to createOrUpdateComment
  src/index.ts
Due: lint, end-of-file-fixer

build
  dist/index.js
Due: none

fix: Pass prNumber to createOrUpdateComment (#88)
  dist/index.js
  src/index.ts
Due: lint, end-of-file-fixer

Copilot review
  dist/index.js
  src/render.ts
Due: lint, end-of-file-fixer

fix: Properly display changes to lines starting with hyphens (#87)
  dist/index.js
  src/render.ts
  tests/fixtures/basic/0-create/main.tf
  tests/fixtures/basic/0-create/plan.json
  tests/fixtures/basic/0-create/plan.txt
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/main.tf
  tests/fixtures/basic/1-modify/plan.json
  tests/fixtures/basic/1-modify/plan.txt
  tests/fixtures/basic/1-modify/rendered.md
  tests/fixtures/basic/2-delete/plan.json
  tests/fixtures/basic/2-delete/plan.txt
  tests/fixtures/basic/2-delete/rendered.md
Due: lint, prettier, end-of-file-fixer

feat: Add support to terragrunt command with --all option (#57) (#60)
  .gitignore
  README.md
  dist/index.js
  pixi.lock
  pixi.toml
  src/comment.ts
  src/index.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/5-terragrunt/main.tf
  tests/fixtures/basic/5-terragrunt/modules/database/main.tf
  tests/fixtures/basic/5-terragrunt/plan.json
  tests/fixtures/basic/5-terragrunt/plan.txt
  tests/fixtures/basic/5-terragrunt/rendered.md
  tests/fixtures/basic/5-terragrunt/root.hcl
  tests/fixtures/basic/5-terragrunt/single/database/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/cache/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/database/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/modules/server/main.tf
  tests/fixtures/basic/6-terragrunt-multiplan/multiple/cache/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/multiple/database/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/multiple/server/terragrunt.hcl
  tests/fixtures/basic/6-terragrunt-multiplan/plan.json
  tests/fixtures/basic/6-terragrunt-multiplan/plan.txt
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/root.hcl
  tests/fixtures/generate.sh
  tests/render.test.ts
Due: lint, prettier, end-of-file-fixer

Create typo in README description
  README.md
Due: prettier, end-of-file-fixer

refactor: Do not tag users in PR comments (#95)
  dist/index.js
  src/comment.ts
  tests/e2e.test.ts
Due: lint, end-of-file-fixer

Update
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: prettier, end-of-file-fixer

chore: Bump Node.js runtime from node20 to node24 (#102)
  action.yml
  pixi.lock
  pixi.toml
Due: prettier, end-of-file-fixer

fix: Resolve test and build failures from ESM-only @actions package upgrades (#103)
  dist/index.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  tests/__mocks__/@actions/core.cjs
  tests/__mocks__/@actions/exec.cjs
  tests/__mocks__/@actions/github-utils.cjs
  tests/__mocks__/@actions/github.cjs
Due: prettier, end-of-file-fixer

Update
  .envrc
  .github/workflows/chore.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/e2e.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
Due: prettier, end-of-file-fixer

Update
  tsconfig.json
Due: end-of-file-fixer

fix try-catch
  dist/index.js
  src/render.ts
Due: lint, end-of-file-fixer

add suppressErrors
  dist/index.js
  src/render.ts
Due: lint, end-of-file-fixer

feat: Add outputs describing resource changes
  README.md
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
  src/render.ts
  src/renderResult.ts
  src/renderedPlan.ts
  src/resourceChanges.ts
  tests/e2e.test.ts
  tests/render.test.ts
Due: lint, prettier, end-of-file-fixer

fix renderTerraformPlan try-catch
  dist/index.js
  src/render.ts
Due: lint, end-of-file-fixer

fix: Rethrow generic errors from `renderTerraformPlan` try-catch block (#113)
  dist/index.js
  src/render.ts
Due: lint, end-of-file-fixer

Simplify
  dist/index.js
  src/comment.ts
  src/index.ts
  src/render.ts
  src/renderResult.ts
  src/renderedPlan.ts
  src/resourceChanges.ts
  tests/e2e.test.ts
  tests/render.test.ts
Due: lint, end-of-file-fixer

Copilot review
  README.md
  action.yml
  dist/index.js
  src/index.ts
  src/planfile.ts
  src/render.ts
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/rendered.md
  tests/fixtures/basic/2-delete/rendered.md
  tests/fixtures/basic/5-terragrunt/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/ephemeral/0-create/rendered.md
Due: lint, prettier, end-of-file-fixer

feat: Add outputs describing resource changes (#112)
  README.md
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
  src/planfile.ts
  src/render.ts
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/rendered.md
  tests/fixtures/basic/2-delete/rendered.md
  tests/fixtures/basic/5-terragrunt/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/ephemeral/0-create/rendered.md
Due: lint, prettier, end-of-file-fixer

feat: Chunk long tfplans into separate comments
  dist/index.js
  src/comment.ts
  src/index.ts
  tests/comment.test.ts
  tests/e2e.test.ts
  tests/fixtures/basic/7-create-hundreds/main.tf
  tests/fixtures/basic/7-create-hundreds/plan.json
  tests/fixtures/basic/7-create-hundreds/plan.txt
  tests/fixtures/basic/7-create-hundreds/rendered.md
  tests/render.test.ts
Due: lint, prettier, end-of-file-fixer
