Repository borchero/terraform-plan-comment: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

lint:
  name: lint
  entry: pnpm lint:fix
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier
  language: system
  pass_filenames: false

Build
  dist/index.js
Due: none

Update
  package.json
  pnpm-lock.yaml
Due: prettier

docs: Adjust latest action tag in README
  README.md
Due: prettier

docs: Adjust latest action tag in README (#17)
  README.md
Due: prettier

fix: handle comments above github size limit
  src/comment.ts
  src/index.ts
Due: lint

fix: code formatting and extract isValidComment function
  src/comment.ts
  src/index.ts
Due: lint

fix: more prettier fixes + move terraform plan link generation func
  src/comment.ts
  src/index.ts
Due: lint

fix: simplify comparison logic + use compare comment length inside renderComment
  src/comment.ts
  src/index.ts
Due: lint

fix: handle plans with no resources
  dist/index.js
  src/planfile.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/3-empty/main.tf
  tests/fixtures/basic/3-empty/plan.json
  tests/fixtures/basic/3-empty/plan.txt
  tests/fixtures/basic/3-empty/rendered.md
  tests/fixtures/generate.sh
Due: lint, prettier

fix: remove unused var
  src/comment.ts
Due: lint

fix: Handle plans with no resources (#19)
  dist/index.js
  src/planfile.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/3-empty/main.tf
  tests/fixtures/basic/3-empty/plan.json
  tests/fixtures/basic/3-empty/plan.txt
  tests/fixtures/basic/3-empty/rendered.md
  tests/fixtures/generate.sh
Due: lint, prettier

feat: add support for imported resources
  src/comment.ts
  src/render.ts
Due: lint

feat: support importing resources + comment truncation
  dist/index.js
  package-lock.json
  src/index.ts
Due: lint

Update
  dist/index.js
Due: none

Fix
  .eslintrc.js
  dist/index.js
  eslint.config.mjs
Due: none

Update
  eslint.config.mjs
Due: none

feat: Allow skipping comment when planfile is empty
  action.yml
  src/comment.ts
  src/index.ts
  src/render.ts
Due: lint, prettier

feat: Allow skipping comment when planfile is empty (#31)
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
  src/render.ts
Due: lint, prettier

feat: Output markdown and optionally create a PR comment
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
  tests/e2e.test.ts
Due: lint, prettier

feat: Always output step summary and respect skip logic
  dist/index.js
  src/comment.ts
  src/index.ts
  tests/e2e.test.ts
Due: lint

fix: Footer works in non PR contexts
  dist/index.js
  src/comment.ts
Due: lint

fix: Autodetect PR Triggering Context
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
Due: lint, prettier

fix: Always Output Step Summary, Change Output Name, and Changed PR Context Detection
  action.yml
  dist/index.js
  src/index.ts
Due: lint, prettier

docs: Added Documentation on Output to README
  README.md
Due: prettier

Fix pch
  dist/index.js
Due: none

refactor: Changed PR Context Detection
  src/comment.ts
Due: lint

refactor: Combined PR Comment Post Conditionals
  src/index.ts
Due: lint

refactor: Improve Footer Construction Readability
  src/comment.ts
Due: lint

feat: Added Ability to Skip Comments Entirely
  action.yml
  dist/index.js
  src/index.ts
Due: lint, prettier

docs: Added Documentation on Output Skip Parameter to README
  README.md
Due: prettier

Pch
  dist/index.js
Due: none

Update pch
  dist/index.js
Due: none

Move defaults directly to config
  README.md
Due: prettier

Fix e2e test for forks
  .github/workflows/e2e.yml
Due: prettier

feat: Output markdown as Step Summary and Text, and Optionally Output PR comment (#35)
  .github/workflows/e2e.yml
  README.md
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
  tests/e2e.test.ts
Due: lint, prettier

ci: Use `pull_request_target` trigger for chore workflow
  .github/workflows/chore.yml
Due: prettier

ci: Use `pull_request_target` trigger for chore workflow (#39)
  .github/workflows/chore.yml
Due: prettier

ci: Add stalebot to automatically close issues and PRs
  .github/workflows/stale.yml
Due: prettier

Path conditions:
  lint: any of: \.(ts|mts|cts)$, but not: ^dist/
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^dist/
