Repository borchero/terraform-plan-comment: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier, end-of-file-fixer

lint:
  name: lint
  entry: pixi run -e pre-commit pnpm lint:fix
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pixi run -e pre-commit pnpm prettier
  language: system
  pass_filenames: false

end-of-file-fixer:
  name: end-of-file-fixer
  entry: pixi run -e pre-commit end-of-file-fixer
  language: system

Implement comment rendering with markdown support
  src/index.ts
Due: lint, end-of-file-fixer

chore: Resolve pre-commit errors
  pixi.lock
  tests/comment.test.ts
  tests/fixtures/basic/7-create-hundreds/plan.json
  tests/fixtures/generate.sh
Due: lint, end-of-file-fixer

Add pull_request trigger to Terraform workflow
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Add working-directory on sample-tfplan wf
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Set full commit-sha for referencing wf
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Rectify tfplan path
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Add job permission to write on PR
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Reformat working-dir for the plan-comment wf
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Delete sample-tfplan wf
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

Revert "chore: Delete sample-tfplan wf"
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Add "Part 1" and "continued on next comment" markers
  .github/workflows/sample-tfplan.yml
  dist/index.js
  src/comment.ts
  tests/comment.test.ts
  tests/fixtures/basic/7-create-hundreds/main.tf
  tests/fixtures/basic/7-create-hundreds/plan.json
  tests/fixtures/basic/7-create-hundreds/plan.txt
  tests/fixtures/basic/7-create-hundreds/rendered.md
Due: lint, prettier, end-of-file-fixer

chore: Hard tag current di for smaple-tfplan wf
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

chore: Fix missing ending marker for Part 2 (or any in-between comments)
  dist/index.js
  src/comment.ts
  tests/comment.test.ts
Due: lint, end-of-file-fixer

chore: Remove sample-tfplan wf again for cleanup
  .github/workflows/sample-tfplan.yml
Due: prettier, end-of-file-fixer

Build
  dist/index.js
Due: none

feat: Chunk long tfplans into separate comments (#114)
  dist/index.js
  pixi.lock
  src/comment.ts
  src/index.ts
  tests/comment.test.ts
  tests/e2e.test.ts
  tests/fixtures/basic/7-create-hundreds/main.tf
  tests/fixtures/basic/7-create-hundreds/plan.json
  tests/fixtures/basic/7-create-hundreds/plan.txt
  tests/fixtures/basic/7-create-hundreds/rendered.md
  tests/fixtures/generate.sh
  tests/render.test.ts
Due: lint, prettier, end-of-file-fixer

fix: Treat stat-only changes as non-empty plans
  README.md
  action.yml
  dist/index.js
  src/comment.ts
  src/index.ts
  src/planfile.ts
  src/render.ts
  tests/e2e.test.ts
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/rendered.md
  tests/fixtures/basic/2-delete/rendered.md
  tests/fixtures/basic/3-remove/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/basic/7-create-hundreds/rendered.md
  tests/fixtures/ephemeral/0-create/rendered.md
  tests/fixtures/generate.sh
  tests/fixtures/import/0-import/main.tf
  tests/fixtures/import/0-import/plan.json
  tests/fixtures/import/0-import/plan.txt
  tests/fixtures/import/0-import/rendered.md
  tests/fixtures/move/0-create/main.tf
  tests/fixtures/move/0-create/plan.json
  tests/fixtures/move/0-create/plan.txt
  tests/fixtures/move/0-create/rendered.md
  tests/fixtures/move/1-move/main.tf
  tests/fixtures/move/1-move/plan.json
  tests/fixtures/move/1-move/plan.txt
  tests/fixtures/move/1-move/rendered.md
  tests/render.test.ts
Due: lint, prettier, end-of-file-fixer

fix: Render create-then-forget plans correctly
  README.md
  dist/index.js
  src/comment.ts
  src/render.ts
  tests/comment.test.ts
  tests/fixtures/basic/0-create/rendered.md
  tests/fixtures/basic/1-modify/rendered.md
  tests/fixtures/basic/2-delete/rendered.md
  tests/fixtures/basic/5-terragrunt/rendered.md
  tests/fixtures/basic/6-terragrunt-multiplan/rendered.md
  tests/fixtures/basic/7-create-hundreds/rendered.md
  tests/fixtures/ephemeral/0-create/rendered.md
  tests/fixtures/move/0-create/rendered.md
  tests/render.test.ts
Due: lint, prettier, end-of-file-fixer

fix: Keep TypeScript compatible with lint and test tooling
  dist/index.js
  package.json
  pnpm-lock.yaml
Due: prettier, end-of-file-fixer

Path conditions:
  lint: any of: \.(ts|mts|cts)$, but not: ^dist/
  prettier: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, but not: ^dist/
  end-of-file-fixer: any of: not (^tests/.*/rendered.md$), but not: ^dist/
